

.name {
  color: darken($color--stable, 10);
}

.txt-title {
  white-space: nowrap;
  overflow: hidden;
  font-family: $font-family-sans-serif;
  color: $color--dark;
  &::before {
    position: absolute;
    content: '';
    right: 0;
    background: rgba($color--neutral, 0);
    background: linear-gradient(to right, rgba($color--neutral, 0) 0%, rgba($color--neutral, 1) 58%, rgba($color--neutral, 1) 100%);
    width: 25%;
    height: 48px;
    pointer-events: none;
  }
}


$task-progress-bar--height: 20px;

@mixin task-progress-bar_track {
  width: 100%;
  height: $task-progress-bar--height;
  cursor: pointer;
  animate: 0.2s;
  background: rgba($color--pri, 0.4);
  border-radius: 20px;
  border: 0px solid $color--neutral;
}

// placeholder has a bug use mixin instead
@mixin task-progress-bar_thumb {
  @include size(20px);
  border-radius: 50%;
  background: $color--pri;
  cursor: pointer;
  border: 0px solid rgba($color--neutral, 0);
}

.task-progress-bar {
  width: 100%;
  input[type="range"] {
    appearance: none; /* Hides the slider so custom styles can be added */
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 100%;
    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      @include task-progress-bar_track;
    }
    // can't comma-separate these type of selectors.
    // Browsers will drop the entire selector.
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @include task-progress-bar_thumb;
      margin-top: 0px;
    } // thumb

    &::-moz-range-track {
      @include task-progress-bar_track;
    }
    &::-moz-range-thumb {
      @include task-progress-bar_thumb;
    } // thumb

    &::-ms-track {
      width: 100%;
      height: $task-progress-bar--height;
      animate: 0.2s;
      border-width: 2px 0;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color:transparent;
    }
    &::-ms-fill-lower, &::-ms-fill-upper {
      @include task-progress-bar_track;
    }
    &::-ms-thumb  {
      @include task-progress-bar_thumb
    } //thumb

  } // input
}


// @each $brand-alias, $brand-color in $brand-colors {
//   .task-progress-bar_track--#{$brand-alias} {
//     background: rgba($brand-color, 0.4);
//   }
// } // each

// @mixin task-progress-bar_track--color($brand-alias) {
//   @each $brand-alias, $brand-color in $brand-colors {
//     .task-progress-bar--#{$brand-alias} {
//       background: rgba($brand-color, 0.4);
//     }
//   } // each
// }
//
@mixin task-progress-bar_track--color($brand-color) {
  background: rgba($brand-color, 0.4);
}

@mixin task-progress-bar_thumb--color($brand-color) {
  background: $brand-color;
}

@each $brand-alias, $brand-color in $brand-colors {
  .task-progress-bar--#{$brand-alias} {
    input[type="range"] {
      &::-webkit-slider-runnable-track {
        @include task-progress-bar_track--color($brand-color);
      }
      &::-webkit-slider-thumb {
        @include task-progress-bar_thumb--color($brand-color);
      } // thumb

      &::-moz-range-track {
        @include task-progress-bar_track--color($brand-color);
      }
      &::-moz-range-thumb {
        @include task-progress-bar_thumb--color($brand-color);
      } // thumb

      &::-ms-fill-lower, &::-ms-fill-upper {
        @include task-progress-bar_track--color($brand-color);
      }
      &::-ms-thumb  {
        @include task-progress-bar_thumb--color($brand-color);
      } //thumb
    } // input
  } // .task-progress-bar--ter
} // each

.task-progress-score {
  line-height: 20px;
}
