.btn-null {
  background-color: transparent;
}

.btn-add {
  path:nth-child(1) {
    @extend .allow-trans-fs;
    fill: $color--pri;
  }
  path:nth-child(2) {
    fill: $color--neutral;
  }
  &:hover {
    path:nth-child(1) {
      fill: $color--ter;
    }
  } // hover
} // btn-add
