.header--fixed {
  position: fixed;
  z-index: z(navbar);
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
}
  .headroom--unpinned {
    // TODO: Find reason why translate does not work on mobile
    // -webkit-transform: translateY(-100%);
    // -ms-transform: translateY(-100%);
    // transform: translateY(-100%);
    top: -100%;
  }


  .headroom--pinned {
    // -webkit-transform: translateY(0);
    // -ms-transform: translateY(0);
    // transform: translateY(0);
    top: 0;
  }

  .headroom--not-top {

  }

  .headroom--top {
    top: 0;
  }

  .header_inner {
    @include size-tb(padding, $ms--xl, $ms--md);
  }

.icon-menu {
      width: 50px;
      height: 8px + $ms--xs * 3;
      z-index: 1;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }

    .icon-menu_atom {
      position: absolute;
      left: 0;
      width: 40px;
      height: 4px;
      pointer-events:none;
      background: $color--pri;
      border-radius: 20px;
      @extend .allow-trans-fs;
    }

      .icon-menu_atom--top {
          top: 0;
        }

        .icon-menu_atom--rotatedown {
            transform: rotate(-45deg) !important;
            top: 6px;
          }

      .icon-menu_atom--middle {
        top: 4px + $ms--xs;
      }

        .icon-menu_atom--hide-middle {
          opacity: 0
        }

      .icon-menu_atom--bottom {
        top: 8px + $ms--xs * 2;
      }

        .icon-menu_atom--rotateup {
          transform: rotate(45deg) !important;
          top: 6px;
        }

// .affix {
//   top: 0;
//   z-index: z(navbar-fixed);
//   width: 100%;
//   margin-top: 0;
//   position: fixed;
//   box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.75);
// }

.sidr-overlay {
  position: absolute;
  display: none;
  z-index: 9999;
  background-color: rgba($color--dark, .5);
  height: 100%;
  width: 100%;
}
